@use "variables" as *;

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    position: relative;
    background-color: $background-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &.dark {
        background-color: $nav-background-color-dark;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
}
.site-header-bottom {
    display: none;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    &.dark {
        color: $grey-color-light;
    }
}
.post-comments {
    border-top: 1px solid $grey-color-light;
}

.profile-pic {
    float:right;

    @include media-query($on-palm) {
        float:none;
        clear:both;
        align:center;
        max-width:60%;
        height:auto;
    }
}

.theme-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    z-index: 1000;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: transparent;
    color: $grey-color-dark;
    transition: all 0.15s ease-in-out;

    @include media-query($on-palm) {
        position: relative;
        float: right;
        top: auto;
        transform: none;
        margin-top: 0.75rem;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.dark {
        background-color: transparent;
        color: $grey-color-light;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-right:2.8rem;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        line-height: $base-line-height;
        font-weight: 400;
        font-size: 15px;
        border-radius: 0.375rem;
        padding: 0.5rem 0.75rem;
        transition: all 0.15s ease-in-out;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            color: $text-color;
            text-decoration: none;
        }

        &.dark {
            color: $grey-color-light;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: $text-color-dark;
            }
        }

        i {
            margin-right: 0.25rem;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 1.5rem;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 30px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }

            &.dark {
                > svg path {
                    fill: $grey-color-light;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            padding: 12px 20px;
            font-size: 16px;
            min-height: 44px;
            line-height: 1.5;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 0;

            i {
                margin-right: 0;
                margin-left: 12px;
            }
        }

        &.dark {
            background-color: $background-color-dark;
            border-color: $grey-color-dark;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin-top: $spacing-unit * 2;
    padding: $spacing-unit 0;
    background-color: $background-color;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px -1px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    &.dark {
        background-color: $nav-background-color-dark;
        box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.3), 0 -1px 2px -1px rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: calc(-1 * $spacing-unit / 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $base-font-size * 2;
    font-weight: 200;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 2;
    }
}

.pagination {
    text-align:center;
    margin:0 auto;
    font-size:1.5rem;
}
.pagination .page_number {
    margin-right:2rem;
    margin-left:2rem;
    color: $grey-color-dark;
    font-size:0.8rem;
    text-align:center;
    vertical-align:middle;
}

.pagination span {
    color: $grey-color;
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-preview-readmore {
    float:right;
}
